<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_load_after">
		<observer name="sales_order_load_master_storeurl" instance="Rdtech\Master\Observer\Sales\OrderLoadAfter" />
	</event>
	
	<event name="catalog_product_collection_load_after">
		<observer name="rdtech_master_observer_productcollection" instance="Rdtech\Master\Observer\ProductCollection" />
	</event>
	<event name="catalog_product_load_after">
		<observer name="rdtech_master_observer_productitem" instance="Rdtech\Master\Observer\ProductItem" />
	</event>

	<event name="sales_quote_item_qty_set_after">
		<observer name="rdtech_master_observer_productitem_quote" instance="Rdtech\Master\Observer\ProductQuoteItem" />
	</event>

	<event name="checkout_submit_all_after">
		<observer name="rdtech_master_observer_ordernotify" instance="Rdtech\Master\Observer\OrderNotify" />
	</event>
</config>

